section{
	background-color: #ccc;
	width: 400px;
	margin-bottom:10px;
	padding: 5px;
}

/*Объединение селекторов*/
.class1.class2{
	background-color: #99ca48;
}

/*Псевдокласс :not
В качестве селектора могут указываться псевдоклассы, теги,
идентификаторы, классы и селекторы атрибутов. Нельзя использовать
двойной псевдокласс :not, то есть конструкция :not(:not(...)) не сработает*/
.not
li:not(.class3) {
	background-color: #6666ff;
}

/*Комбинируем :not*/
.not2 
li:not(:first-child):not(:last-child) {
	background-color: #fd8008;
}

/*Псевдокласс :first-of-type*/
/*Выбирать перыий ul на странице*/
.class-type 
ul:first-of-type {
	background-color: #66ffcc;
}

/*Выбирать паследний ul на странице*/
/*ul:last-of-type {
	background-color: #66ffcc;
}*/

/*Псевдокласс :nth-of-type*/
/*Произвольно выбирать ul на странице*/
.class-type-2 
ul:nth-of-type(2) {
	background-color: #108080;
}

/*Псевдокласс nth-last-of-type*/
.class-type-3
ul:nth-last-of-type(1) {
	background-color: #333
}