.flex-container {
	display: flex;
	flex-direction: row;
	/*flex-direction: row-reverse;*/ 
	/*flex-direction: column;*/
	/*flex-direction: column-reverse;*/
	height: 100px;
}

.block1,
.block2,
.block3{
	width: 100px;
	height: 100px;
}

.block1 {background-color: #99ca48;}
.block2 {background-color: #9e7551;}
.block3 {background-color: #0bb44a;}