body {
	background-color: #ccc;
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
}

.share {
	background-color: #fff;
	display: inline-block;
	/*width: 250px;*/
	padding: 5px;
}

.share b {
	text-transform: uppercase;
	margin: 0 10px;
	color: #ccc;
}

.social{
	background-color: #999;
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
}

.share a:not(:last-child) {
	margin-right: 10px;
}

.social {
	background: url(../img/social.png) no-repeat;
}
.social-vk {background-color: #6d8fb3;background-position: 0 0;}
.social-fb {background-color: #526da3;background-position: -40px 0;}
.social-tw {background-color: #73bfe6;background-position: -80px 0;}