section{
	background-color: #ccc;
	width: 300px;
	margin-bottom:10px;
	padding: 5px;
}

/*Tag selectors*/
section p{
	background-color: #996633;
}

/*Class selectors*/
.class-selectors{
	background-color: #20ffff;
}

/*neighbor selectors*/
.hit1+.hit2{
	background-color: green;
}

/*Child selectors*/
.places>li{
	border-top: solid 2px #999;
}

/*Pseudo-classes*/
/*
.pseudo-classes li:first-child,
.pseudo-classes li:last-child {
	background-color: #99ca48;
}*/

/* Нечетный */
.pseudo-classes li:nth-child(odd) {
	background-color: #99ca48;
}

/* Четный */
.pseudo-classes li:nth-child(even) {
	background-color: #fd8008;
}

/*
a:link { ... }
a:visited { ... }
a:hover { ... }
a:active { ... }
input:focus (...)
*/
/* hover*/
.pseudo-classes li:hover {
	background-color: yellow;
}

/* Attribute selectors */

input[type="password"] {
	background-color: #999;
}

div[full] {
	background-color: #fd8008;
}














