body {
	font-family: "PT Sans", sans-serif;
	background-color: #ccc;

	margin: 0;
	padding: 0;
}

.conteiner {
	background-color: #99ca48;
	font-size: 40px;
}

.conteiner span {
	vertical-align: middle;
	font-size: 10px;
}