body {
	font-family: "PT Sans", sans-serif;
	background-color: #ccc;

	margin: 0;
	padding: 0;
}

.container {
	background-color: #999;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	width: 900px;
	height: 400px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li {
	background-color: #99ca48;
	margin-bottom: 10px;
	width: 200px;
	height: 50px;
}

li:nth-child(2) {
	background-color: #ff9a8c;
	position: absolute;
	left: -20px;
	width: 100px;
}
